body {
    margin: 0;
}

header {
    background-color: #2cb67d;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.nav-items > li {
    margin: 20px 10px 25px 10px;
    width: 200px;
    text-align: center;
}
.nav-items {
    list-style: none;
    font-family: 'Raleway';
    color: rgb(236, 237, 240);
    font-weight: 700;
    margin: 0;
    display: flex;
    padding-left: 0;
    align-items: center;
    justify-content: space-evenly;
}

.nav-item {
    padding: 0 2px 10px 2px;
    cursor: pointer;
    font-family: 'Raleway';
    color: #fffffe;
    text-decoration: none;
    transition: .3s;
}

.nav-item:hover {
    letter-spacing: 4px;
    
    border-bottom: 1.5px solid #fffffe;
}

.proyects-nav-item {
    position: relative;
}

.submenu {
    list-style: none;
    width: 200px;
    background-color: #2cb67d;
    padding-left: 0;
    position: absolute;
    top: 30px;
    left: 10px;
    display: none;
    color: #fffffe;
}

.submenu-item {
    padding: 20px;
}

.proyects-nav-item:hover .submenu {
    display: block;
}

.submenu-item:hover {
    cursor: pointer;
    background-color: #26a16e;
}

.main-content {
    padding: 100px 50px 50px 50px;
}

.presentation {
    background-color: #16161a;
    color: #fffffe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .photo-container {
    position: relative;
}

.photo-banner {
    display: none;
} */
/* 
figure {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}

figcaption {
    font-family: 'Calistoga';
    font-size: 0px;
    color: honeydew;
    text-align: center;
    line-height: 300px;
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 50%;
    top: 15px;
    left: 39px;
    transition: .3s;
}

img {
    transition: .3s;
}

.photo-container:hover figcaption {
    border: 1.5px solid honeydew;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    transform: scale(.9);
}

.photo-container:hover img {
    transform: scale(1.2);
} */

.owner-photo {
    width: 200px; 
}

.owner-name {
    margin: 10px 0 0 0;
}

.owner-information {
    font-family: 'Open Sans';
    font-size: 18px;
    color: #94a1b2;
    text-align: center;
    max-width: 700px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    color: #eeeef1;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 50px;
    /* margin: 0 0 50px 0; */
    /* padding-bottom: 20px; */
    /* border-bottom: 1px solid #eeeef1; */
    text-align: center;
}

.skills{
    background-color: #242629;
}

.skills .main-contest-list{
    max-width: 1000px;
}

.main-contest-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin: 0;
}

/* .skill {
    padding: 20px; 
} */

.list-container {
    background-color: #eeeef1;
    width: 150px;
    height: 150px;
    margin: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.skill-img {
    width: 70%;
}

.list-container:hover{
    transform: scale(1.5);
}

.proyects {
    background-color: #16161a;
}

.list-element {
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: bold;
}

.contactme {
    background-color: #242629;
    display: flex;
    flex-direction: column;
    color: #fffffe;
    font-family: 'Open Sans';
    font-weight: 300;
    /* align-items: center; */
}

.contact-me-form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
}

label {
    padding-bottom: 5px;
}

.contact-information {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.form-imput-container {
    position: relative;
}

.contact-me-form-input {
    width: 100%;
    border-radius: 2px;
    background-color: #fffffe;
    font-size: 16px;
    border: 0;  
    box-sizing: border-box;
}

.user-icon, .mail-icon {
    color: darkslategray;
    position: absolute;
    left: 10px;
    top: calc(50% - 8px);
}

.invalid-icon, .valid-icon {
    position: absolute;
    top: calc(50% - 8px);
    right: 10px;
    display: none;
}

.invalid-icon {
    color: firebrick;
}

.valid-icon {
    color: green;
}

input:focus,
select:focus,
textarea:focus {
    outline-color: #7f5af0;
}

button:focus {
    outline: none;
}

input:valid {
    border: 1px solid green;
}

input:invalid:not(:placeholder-shown) {
    border: 1px solid firebrick;
}

input:valid:not(:placeholder-shown) ~ .valid-icon {
    display: block;
}

input:invalid:not(:placeholder-shown) ~ .invalid-icon {
    display: block;
}

.contact-me-form-input:not(textarea) {
    height: 35px;
    padding-left: 35px;
}

.contact-me-form-input.option-menu {
    padding-left: 20px;
}

#contact-msg {
    padding: 10px;
    font-family: 'Open Sans';
}

.reason-for-contact {
    border-style: none;
}

.send-btn {
    margin: 20px auto 0;
    width: 145px;
    height: 50px;
    font-size: 18px;
    background-color: #7f5af0;
    font-family: 'Raleway';
    border-radius: 10px;
    border-style: none;
    color: #eeeef1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.send-btn:hover {
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 1px;
    border: 1px dashed #eeeef1;
    background: none;
}

.send-btn:active {
    background-color: #6b4dc7;
    border-radius: 10px;
    border-style: none;
}


footer {
    font-family: 'Raleway';
    color: #fffffe;
    background-color: #16161a;
}

.footer-main-part {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-column {
    padding: 20px 50px;
}

.footer-links-title {
    font-weight: bold;
}

.footer-links {
    list-style: none;
    padding-left: 0;
}

.footer-link{
    padding-bottom: 10px;
    transition: .3s;
}

.footer-link:hover{
    letter-spacing: 5px;
}

.socialnetwork-icon {
    transition: .3s;
}

.footer-link:hover .socialnetwork-icon{
    transform: scale(1.8);
}

.footer-social-network-user {
    color: #fffffe;
    font-weight: 200;
    text-decoration: none;
}

.socialnetworks-column {
    width: 280px;
    padding-right: 0;
}

.quote-column {
    max-width: 450px;
    display: flex;
    justify-content: flex-end;
}

.footer-quote-text {
    width: 100%;
    font-family: 'Raleway';
    font-weight: 200;
}

.footer-copyright {
    background-color: #010101;
    margin-bottom: 0;
    text-align: center;
    padding: 5px 0 16px 0;
}

.footer-copyright-text {
    margin-bottom: 0;
    color: honeydew;
    font-family: 'Raleway';
}

/* RESPONSIVE */

@media(max-width: 1150px){
    .skills .main-contest-list{
        max-width: 700px;
    }
}

@media(max-width: 800px) {
    .nav-items > li:nth-child(1) {
        display: none;
    }

    .section-title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .owner-name {
        font-size: 38px;
        margin-bottom: 5px;
    }

    .owner-information {
        font-size: 16px;
        width: 80%;
    }

    .list-container {
        width: 100px;
        height: 100px;
        margin: 15px;
    }

    .list-element {
        font-size: 16px;
    }

    .contact-me-form {
        transform: scale(.9);
    }

    .quote-column {
        display: none;
    }
}

@media(max-width:770px) {
    .skills .main-contest-list{
        max-width: 500px;
    }
}

@media(max-width:700px){
    .nav-item:hover {
        letter-spacing: 0px;
        border-bottom: none;
    }
}

@media(max-width:450px) {
    header{
        font-size: 12px;
        height: 30px;
    }

    .nav-items{
        margin-top: 7px;
    }

    .nav-items > li{
        margin: 0;
    }

    .submenu{
        text-align: left;
        width: 100px;
        top: 20px;
    }

    .submenu-item{
        padding: 10px;
    }

    .main-content{
        padding: 50px 25px 40px 25px;
    }

    .owner-photo{
        width: 150px;
    }

    .section-title{
        margin: 5px;
    }

    .owner-name{
        max-width: 150px;
        font-size: 30px;
    }

    .owner-information{
        font-size: 14px;
    }

    .list-container{
        height: 60px;
        width: 60px;
        font-size: 10px;
    }

    .list-container:hover{
        transform: none;
    }

    .footer-link:hover .socialnetwork-icon{
        transform: none;
    }

    .footer-link{
        width: 170px;
    }

    .footer-link:hover{
        letter-spacing: 0;
        transform: scale(1.1);
    }  

    .footer-copyright{
        font-size: 12px;
    }
}