body {
    margin: 0;
}

.header {
    background-color: #373F51;
}

.header-links {
    list-style: none;
    font-family: 'Raleway';
    color: rgb(236, 237, 240);
    font-weight: bold;
    margin: 0;
    padding: 20px 30px;
}

.header-link {
    display: inline-block;
    padding: 15px;
    cursor: pointer;
}
.main-content {
    text-align: center;
    padding: 50px;
    /* color: #FFFFFF; */
}

.presentation {
    background-color: #58A4B0;
}

.skills {
    background-color: #4b4b79;
}

.skills-title {
    color: #eeeef1;
    font-family: 'Calistoga';
    font-weight: 300;
    font-size: 36px;
    margin: 0 0 50px 0;
    padding-bottom: 20px;
    border-bottom: 4px solid #eeeef1;
}

.skills-list {
    list-style: none;
}

.skill {
    display: inline-block;
    padding: 20px;
    vertical-align: top;
}

.skill-container {
    background-color: #eeeef1;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 0 25px;
    border-radius: 50%;
}

.skill-img {
    width: 130px;
    padding-top: 20px;
}

.owner-photo {
    width: 300px;
    border-radius: 50%;
}

.owner-name {
    font-family: 'Pacifico';
    font-size: 50px;
    margin-bottom: 0;
}

.owner-information {
    font-family: 'Raleway';
    font-size: 18px;
}

.footer {
    font-family: 'Raleway';
    background-color: #3D7068;
}

.footer-column {
    padding: 19px 0 20px 50px;
    display: inline-block;
    vertical-align: middle;
}

.footer-links-title {
    font-weight: bold;
}

.footer-links {
    list-style: none;
    padding-left: 0;
}

.footer-quote {
    background-color: rgb(71, 129, 121);
    padding: 10px 20px;
    border-radius: 10px;
}

.footer-quote-text {
    width: 400px;
}

.footer-copyright {
    background-color: #373F51;
    margin-bottom: 0;
    text-align: center;
    padding: 5px 0 16px 0;
}

.footer-copyright-text {
    margin-bottom: 0;
    color: honeydew;
}