body {
    margin: 0;
}

header {
    background-color: #373F51;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.nav-items > li {
    margin: 20px 10px 25px 10px;
}
.nav-items {
    list-style: none;
    font-family: 'Raleway';
    color: rgb(236, 237, 240);
    font-weight: bold;
    margin: 0;
    display: flex;
    padding-left: 0;
    align-items: center;
}

.nav-item {
    margin: 15px;
    padding: 3px 10px 10px 10px;
    cursor: pointer;
    font-family: 'Raleway';
    color: rgb(236, 237, 240);
    text-decoration: none;
    transition: .3s;
}

.nav-item:hover {
    color: #adb1b9;
    border-bottom: 1.5px solid #adb1b9;
    border-right: 1.5px solid #adb1b9;
}

.proyects-nav-item {
    position: relative;
}

.submenu {
    list-style: none;
    background-color: #373F51;
    padding-left: 0;
    position: absolute;
    top: 30px;
    left: 10px;
    display: none;
}

.submenu-item {
    padding: 20px;
}

.proyects-nav-item:hover .submenu {
    display: block;
}

.submenu-item:hover {
    cursor: pointer;
    background-color: darkslategrey;
}

.main-content {
    padding: 100px 50px 50px 50px;
}

.presentation {
    background-color: #58A4B0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 100px; */
}

.owner-photo {
    width: 300px;
    border-radius: 50%;
}

.owner-name {
    font-family: 'Pacifico';
    font-size: 50px;
    margin-bottom: 0;
}

.owner-information {
    font-family: 'Raleway';
    font-size: 18px;
}

.skills {
    background-color: #4b4b79;
    
}

.section-title {
    color: #eeeef1;
    font-family: 'Calistoga';
    font-weight: 300;
    font-size: 36px;
    margin: 0 0 50px 0;
    padding-bottom: 20px;
    border-bottom: 4px solid #eeeef1;
    text-align: center;
}

.main-contest-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* .skill {
    padding: 20px; 
} */

.list-container {
    background-color: #eeeef1;
    width: 200px;
    height: 200px;
    margin: 0 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-img {
    width: 130px;
}

.proyects {
    background-color: teal;
}

.list-element {
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: bold;
}

.contactme {
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.contact-me-form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
}

label {
    padding-bottom: 5px;
}

.contact-information {
    width: 100%;
    padding: 10px;
    font-family: 'Raleway';
    display: flex;
    flex-direction: column;
}

.form-imput-container {
    position: relative;
}

.contact-me-form-input {
    width: 100%;
    border-radius: 2px;
    background-color: rgb(191, 196, 204);
    font-family: 'Raleway';
    font-size: 16px;
    border: 0;  
    box-sizing: border-box;
}

.user-icon, .mail-icon {
    color: darkslategray;
    position: absolute;
    left: 10px;
    top: calc(50% - 8px);
}

.contact-me-form-input:not(textarea) {
    height: 35px;
    padding-left: 35px;
}

.contact-me-form-input.option-menu {
    padding-left: 20px;
}

#contact-msg {
    padding: 10px;
}

.reason-for-contact {
    border-style: none;
    font-family: 'Raleway';
}

.send-btn {
    margin: 20px auto 0;
    width: 35%;
    height: 50px;
    font-size: 18px;
    background-color: #373F51;
    border-radius: 10px;
    border-style: none;
    color: #eeeef1;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer {
    font-family: 'Raleway';
    background-color: #3D7068;
}

.footer-main-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-column {
    padding: 20px 50px;
}

.footer-links-title {
    font-weight: bold;
}

.footer-links {
    list-style: none;
    padding-left: 0;
}

.footer-social-network-user {
    color: black;
    text-decoration: none;
}

.footer-quote {
    background-color: rgb(71, 129, 121);
    padding: 10px 20px;
    border-radius: 10px;
}

.footer-quote-text {
    width: 400px;
}

.footer-copyright {
    background-color: #373F51;
    margin-bottom: 0;
    text-align: center;
    padding: 5px 0 16px 0;
}

.footer-copyright-text {
    margin-bottom: 0;
    color: honeydew;
    font-family: 'Raleway';
}