body {
  margin: 0;
  padding-left: 40px;
  background-color: #141414;
  overflow: hidden;
  display: flex;
}

.home-btn {
  position: absolute;
  color: floralwhite;
  font-size: 36px;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.wrapper {
  width: 600px;
  height: 700px;
  margin-top: 200px;
  position: relative;
}
.wrapper + .wrapper {
  margin-left: 200px;
}

.flower-center {
  background-color: #f5e12b;
  border-radius: 50%;
  position: absolute;
}

.petal {
  width: 300px;
  height: 100px;
  border-radius: 50%;
  background-color: snow;
  position: absolute;
}
.petal:nth-child(1) {
  top: 30%;
}
.petal:nth-child(2) {
  transform: rotate(45deg);
  top: 10%;
  left: 10%;
}
.petal:nth-child(3) {
  transform: rotate(90deg);
  left: 34%;
  top: 1%;
}
.petal:nth-child(4) {
  transform: rotate(135deg);
  top: 10%;
  right: -7%;
}
.petal:nth-child(5) {
  top: 30%;
  right: -17%;
}
.petal:nth-child(6) {
  transform: rotate(45deg);
  right: -7%;
  bottom: 35%;
}
.petal:nth-child(7) {
  transform: rotate(90deg);
  left: 33%;
  bottom: 27%;
}
.petal:nth-child(8) {
  transform: rotate(135deg);
  bottom: 35%;
  left: 10%;
}

.wrapper:first-child .flower-center {
  width: 100px;
  height: 100px;
  top: 30%;
  left: 50%;
  z-index: -100;
}
.wrapper:first-child .petal:nth-child(1) {
  animation: petalMovement1 2s infinite both;
}
.wrapper:first-child .petal:nth-child(2) {
  animation: petalMovement2 2s infinite both;
}
.wrapper:first-child .petal:nth-child(3) {
  animation: petalMovement3 2s infinite both;
}
.wrapper:first-child .petal:nth-child(4) {
  animation: petalMovement4 2s infinite both;
}
.wrapper:first-child .petal:nth-child(5) {
  animation: petalMovement1 2s infinite both;
}
.wrapper:first-child .petal:nth-child(6) {
  animation: petalMovement2 2s infinite both;
}
.wrapper:first-child .petal:nth-child(7) {
  animation: petalMovement3 2s infinite both;
}
.wrapper:first-child .petal:nth-child(8) {
  animation: petalMovement4 2s infinite both;
}

@keyframes petalMovement1 {
  0%,
  100% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
}
@keyframes petalMovement2 {
  0%,
  100% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(40deg);
  }
}
@keyframes petalMovement3 {
  0%,
  100% {
    transform: rotate(95deg);
  }
  50% {
    transform: rotate(85deg);
  }
}
@keyframes petalMovement4 {
  0%,
  100% {
    transform: rotate(140deg);
  }
  50% {
    transform: rotate(130deg);
  }
}
.wrapper:nth-child(2) .flower-center {
  width: 165px;
  height: 165px;
  top: 26%;
  left: 44%;
}
.wrapper:nth-child(2) .petal:nth-child(1) {
  animation: petal1 6s infinite both linear;
}
.wrapper:nth-child(2) .petal:nth-child(2) {
  animation: petal2 6s infinite both linear;
}
.wrapper:nth-child(2) .petal:nth-child(3) {
  animation: petal3 6s infinite both linear;
}
.wrapper:nth-child(2) .petal:nth-child(4) {
  animation: petal4 6s infinite both linear;
}
.wrapper:nth-child(2) .petal:nth-child(5) {
  animation: petal5 6s infinite both linear;
}
.wrapper:nth-child(2) .petal:nth-child(6) {
  animation: petal6 6s infinite both linear;
}
.wrapper:nth-child(2) .petal:nth-child(7) {
  animation: petal7 6s infinite both linear;
}
.wrapper:nth-child(2) .petal:nth-child(8) {
  animation: petalFall 6s infinite both linear 1.25s;
}

@keyframes petal1 {
  33% {
    transform: rotate(3deg);
  }
  66% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes petal2 {
  33% {
    transform: rotate(43deg);
  }
  66% {
    transform: rotate(49deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes petal3 {
  33% {
    transform: rotate(87deg);
  }
  66% {
    transform: rotate(95deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes petal4 {
  33% {
    transform: rotate(138deg);
  }
  66% {
    transform: rotate(134deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
@keyframes petal5 {
  33% {
    transform: rotate(-5deg);
  }
  66% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes petal6 {
  33% {
    transform: rotate(46deg);
  }
  66% {
    transform: rotate(48deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes petal7 {
  33% {
    transform: rotate(84deg);
  }
  66% {
    transform: rotate(91deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes petalFall {
  0% {
    transform: rotate(135deg);
    bottom: 35%;
    left: 10%;
  }
  10% {
    transform: rotate(130deg);
    bottom: 32%;
    left: 8%;
  }
  20% {
    transform: rotate(125deg);
    bottom: 28%;
    left: 9%;
  }
  30% {
    transform: rotate(124deg);
    bottom: 23%;
    left: 4%;
  }
  40% {
    transform: rotate(118deg);
    bottom: 17%;
    left: 3%;
  }
  50% {
    transform: rotate(115deg);
    bottom: 12%;
    left: 1%;
  }
  60% {
    transform: rotate(112deg);
    bottom: 7%;
    left: -5%;
  }
  70% {
    transform: rotate(106deg);
    bottom: 0%;
    left: -10%;
  }
  80% {
    transform: rotate(101deg);
    bottom: -20%;
    left: -16%;
  }
  90% {
    transform: rotate(90deg);
    bottom: -40%;
    left: -25%;
  }
  100% {
    transform: rotate(90deg);
    bottom: -100%;
    left: 1%;
  }
}
